.container {
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__container {
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--color-card);
}
.form__container h1 {
    text-align: center;
}
.form {
    width: 100%;
    
}
.form input {
    background-color: #444343;
}
.form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}