@media (max-width: 830px) {
    .aboutMe__container {
        flex-direction: column;
    }
    .aboutMe__firstContent, .aboutMe__secondContent {
        max-width: 100%;
    }
    .aboutMe__secondContent__img img {
        max-width: none;
        min-width: 100px;
    }
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .hero__container {
        font-size: 1.5rem;
    }
    .hero__container p {
        font-size: 1.1rem;
    }
}

@media (max-width: 540px) {
    .header {
        flex-direction: row;
    }
    .header__menu {
        display: none;
    }
    .header__button {
        display: block;
    }
    .contact__map {
        max-width: 100%;
    }
    .contact__form {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .hero__container {
        font-size: 1.2rem;
    }
    .hero__container p {
        font-size: 1rem;
    }
    .portfolio__selection {
        width: 300px;
    }
    .portfolio__selection ul{
        gap: 0.5rem;
        font-size: 0.8rem;
    }
}


@media (max-width: 370px) {
    .hero__container {
        font-size: 0.9rem;
    }
    .hero__container p {
        font-size: 0.7rem;
    }
    .portfolio__selection {
        width: 100%;
    }
    .portfolio__selection ul{
        gap: 0.3rem;
        font-size: 0.6rem;
    }
    .portfolio__selection ul li:nth-child(1){
        padding: 0.3rem;
    }
}